@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2"), url("../fonts/FuturaPT-Bold.woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2"), url("../fonts/FuturaPT-Bold.woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.woff2"), url("../fonts/FuturaPT-Book.woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.woff2"), url("../fonts/FuturaPT-Book.woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2"), url("../fonts/FuturaPT-Light.woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2"), url("../fonts/FuturaPT-Medium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2"), url("../fonts/FuturaPT-Light.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2"), url("../fonts/FuturaPT-Medium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Futura PT";
  background-color: #f9f8f8;
  background-image: url("../images/bg-body.png");
  background-position: 20% calc(30% + 200px);
}

main {
  flex-grow: 1;
}

img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 100%;
  max-width: 1345px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-top {
  padding: 14px 0 10px 0;
  background-color: #f9f8f8;
}

.header-top__inner {
  display: flex;
  justify-content: space-between;
  padding-left: 190px;
}

.header-top__address {
  display: flex;
}

.header-top__address address::before {
  content: "";
  margin-right: 10px;
  width: 14px;
  height: 13px;
  background-image: url(".././images/header-top-home-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.header-top__address address {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-align: center;
}

.header-top__tel {
  display: flex;
}

.header-top-tel__boxes:first-child::before {
  content: "";
  margin-right: 10px;
  width: 14px;
  height: 13px;
  background-image: url(".././images/header-top-phone-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.header-top-tel__boxes {
  display: flex;
  align-items: center;
}

.header-top-tel__boxes:not(:last-child) {
  margin-right: 10px;
}

.header-top-tel__boxes:not(:first-child)::before {
  content: "";
  margin-right: 10px;
  border-radius: 50%;
  width: 4.5px;
  height: 4.5px;
  background: #ffbd54;
}

.header-top-tel__boxes a {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.header-top-tel__boxes a:hover {
  color: #ffbd54;
}
.header-top-tel__boxes a:active {
  color: #333333;
  opacity: 0.6;
}

.header-top__days {
  display: flex;
}

.header-top-weeks__boxes:first-child::before {
  content: "";
  margin-right: 10px;
  width: 14px;
  height: 13px;
  background-image: url(".././images/header-top-week-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.header-top-weeks__boxes {
  display: flex;
  align-items: center;
}

.header-top-weeks__boxes span {
  font-weight: 600;
  margin-right: 5px;
}

.header-top-weeks__boxes time {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #333333;
}

.header-top__days .header-top-weeks__boxes--secondary {
  margin-left: 17px;
}

.navbar {
  margin-left: auto;
}

.site-header {
  background: #ffffff;
  border: 1px solid #f3f3f3;
}

.site-header__inner {
  display: flex;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

.logo {
  position: absolute;
}

.site-header__inner img:hover {
  opacity: 0.8;
}
.site-header__inner img:hover:active {
  opacity: 0.6;
}

.navbar__list .navbar__item:first-child::before {
  content: "";
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-image: url(".././images/header-active-fish-icon.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.navbar__item {
  display: flex;
  align-items: center;
}

.navbar__list {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar__list .navbar__item {
  list-style: none;
}
.navbar__list .navbar__link {
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  line-height: 21px;
  color: #333333;
}

.navbar__link::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background-color: #f4ffad;
  transition: width 0.2s;
}

.navbar__link:hover::after {
  width: 100%;
}

.navbar__link:active {
  opacity: 0.6;
}

.navbar .navbar__item:not(:last-child) {
  padding-right: 50px;
  color: red;
}

.navbar-ask__btn {
  display: flex;
  margin-left: auto;
}

.navbar-ask__btn::before {
  content: "";
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-image: url(".././images/header-pet-icon.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.navbar-ask__btn a {
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  line-height: 21px;
  color: #333333;
}

.navbar-ask__btn:active {
  opacity: 0.6;
}

.hero {
  background-image: url("../../images/hero-bg-optimized.png");
  background-repeat: no-repeat;
  background-position: 50% calc(50% - 124px);
}

.hero {
  background-image: url(".././images/hero-bg.webp");
}

.hero__inner {
  padding: 153px 0 325px;
}

.hero__content {
  margin-left: auto;
  width: 608px;
}

.hero__content h2 {
  margin: 0;
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
}

.hero__content span {
  color: #78c0de;
}

.hero__text {
  width: 495px;
}

.hero__text {
  margin: 29px 0 38px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.hero__link {
  display: inline-block;
  padding: 15px 48px;
  width: 181px;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  background: #333333;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 500;
  color: #ffffff;
}
.hero__link:hover {
  background: #ffbd54;
  color: #333333;
}
.hero__link:active {
  opacity: 0.6;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(".././images/hero-bg.webp");
  }
}
.blockquote {
  margin: 0 0 140px 0;
}

.blockquote__inner {
  display: flex;
  justify-content: center;
}

.blockquote__text {
  text-align: center;
  position: relative;
  width: 753px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #949494;
}

.blockquote__text blockquote::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 40px;
  height: 40px;
  background-image: url(".././images/blockquote-arrow-left.svg");
  background-repeat: no-repeat;
  margin-right: 55px;
  background-size: 100%;
  display: inline-block;
}

.blockquote__text blockquote::after {
  content: "";
  position: absolute;
  right: -80px;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-image: url(".././images/blockquote-arrow-right.svg");
  background-repeat: no-repeat;
  margin-right: 55px;
  background-size: 100%;
  display: inline-block;
}

.blockquote__inner span {
  width: 130px;
  display: inline-block;
  border: 0.1px solid #dbdbdb;
}

.blockquote address {
  margin-top: 35px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.service__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  color: #333333;
}

.service__wrapper {
  position: relative;
}

.service__wrapper button {
  position: absolute;
  top: 97px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.service__wrapper button:hover {
  background: #fff;
}
.service__wrapper button:active {
  opacity: 0.6;
}

.arrow-left {
  left: -35px;
}

.arrow-right {
  right: -35px;
}

.service__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.service__list .service__item {
  width: 100%;
  max-width: 193px;
  margin-top: 22px;
  padding: 35px 32px;
  font-size: 18px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  font-weight: 500;
  line-height: 22px;
  list-style: none;
  text-align: center;
  color: #333333;
}
.service__list .service__item:hover {
  opacity: 0.8;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.service__list .service__item:active {
  opacity: 0.7;
}

.service__list .service__item--job1::before {
  content: "";
  margin: 0 auto 17px;
  width: 54px;
  height: 70px;
  background-image: url(".././images/service-doctor.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
}

.service__list .service__item--job2::before {
  content: "";
  margin: 0 auto 17px;
  width: 54px;
  height: 70px;
  background-image: url(".././images/service-girl-doctor.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
}

.service__list .service__item--job3::before {
  content: "";
  margin: 0 auto 17px;
  width: 54px;
  height: 70px;
  background-image: url(".././images/service-urologist.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
}

.service__list .service__item--job4::before {
  content: "";
  margin: 0 auto 17px;
  width: 54px;
  height: 70px;
  background-image: url(".././images/service-dermatologist.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
}

.service__list .service__item--job5::before {
  content: "";
  margin: 0 auto 17px;
  width: 54px;
  height: 70px;
  background-image: url(".././images/service-laborotory.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
}

.service__list .service__item--job6::before {
  content: "";
  margin: 0 auto 17px;
  width: 54px;
  height: 70px;
  background-image: url(".././images/service-ophtology.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
}

.secondary-service {
  margin-top: 14px;
  background: #ffffff;
  border-radius: 0px 5px 5px 5px;
}

.secondary-service__inner {
  display: flex;
  align-items: center;
}

.secondary__content {
  padding-top: 40px;
  margin-left: 67px;
}

.secondary__pic {
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.secondary__pic img {
  border-radius: 5px;
}

.secondary__content h3 {
  margin: 0;
  padding-bottom: 15px;
  font-weight: 550;
  font-size: 32px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #333333;
}

.secondary__text {
  width: 492px;
}

.secondary__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.secondary__btns {
  display: flex;
  margin-top: 20px;
}

.secondary__btnup {
  position: relative;
}

.secondary__btns--first::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 40px;
  background-image: url(".././images/service-secondary-money.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

.secondary__btns--first {
  padding: 15px 37px 15px 60px;
  width: 185px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  line-height: 21px;
  background: #ffbd54;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 500;
  color: #ffffff;
}
.secondary__btns--first:hover {
  background: #333333;
  color: #ffbd54;
}
.secondary__btns--first:active {
  opacity: 0.6;
}

.secondary__btns--second::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 63px;
  background-image: url(".././images/service-secondary-document.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

.secondary__btns--second {
  padding: 15px 37px 15px 70px;
  width: 250px;
  margin-left: 21px;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  line-height: 21px;
  background: #333333;
  border-radius: 3px;
  color: #ffffff;
}
.secondary__btns--second:hover {
  background: #ffbd54;
  color: #333333;
}
.secondary__btns--second:active {
  opacity: 0.6;
}

.dog {
  margin: 170px 0 100px 0;
  background-image: url(".././images/dog-bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
}

.dog__inner {
  padding: 190px 287px;
  background-image: url(".././images/dog-looks.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 400px) calc(20% - 8px);
}

.dog__content h2 {
  margin: 0;
  padding-bottom: 35px;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.dog__content form input {
  padding: 18px 22px;
  width: 335px;
  outline: none;
  background: #ffffff;
  border-radius: 3px;
  font-weight: 400;
  border: 2px solid transparent;
  font-size: 14px;
  line-height: 20px;
  color: #949494;
}

.dog__content form input:focus {
  border: 2px solid #ffbd54;
}

.dog__content form input:focus::-moz-placeholder {
  color: #333333;
}

.dog__content form input:focus:-ms-input-placeholder {
  color: #333333;
}

.dog__content form input:focus::placeholder {
  color: #333333;
}

.dog__content form button {
  padding: 19px 22px;
  margin-left: 20px;
  width: 188px;
  font-size: 14px;
  line-height: 21px;
  background: #333333;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
}
.dog__content form button:hover {
  background: #ffbd54;
  color: #333;
}
.dog__content form button:active {
  opacity: 0.8;
}

.article__inner {
  padding-top: 80px;
  padding-bottom: 250px;
}

.article h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 20px;
  color: #333333;
  text-align: center;
}

.article__list {
  display: flex;
  justify-content: space-between;
}

.article__item {
  max-width: 305px;
}

.article__item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.article__item:active {
  opacity: 0.6;
}

.article__item:hover .article__link {
  color: #ffbd54;
}

.article__item--side {
  display: flex;
  max-width: 640px;
}

.article__list {
  margin: 0;
  padding: 0;
}

.article__content {
  padding: 21px 25px 35px 25px;
  border: 1px solid #e4e4e2;
}

.article__item {
  border-radius: 5px;
}

.article__time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;
  text-align: right;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
}

.article__time span {
  margin-right: 67px;
  font-size: 14px;
  line-height: 22px;
  color: #3d9cea;
}

.article__item h3 {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
}

.article__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.article__item .article__tit {
  text-decoration: none;
}

.article__link::before {
  content: "";
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-image: url(.././images/header-pet-icon.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.article__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-decoration: none;
}

.article__item {
  list-style: none;
}

.article__text {
  width: 244px;
}

.contact__inner {
  display: flex;
}

.contact__content {
  padding: 62px 0 74px 165px;
  width: 100%;
  max-width: 987px;
  background-image: url(".././images/contact-us-bg.png");
  background-repeat: no-repeat;
  background-color: #333;
}

.contact__form h3 {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #ffffff;
}

.contact__text {
  width: 334px;
}

.contact__form p {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.contact__form input {
  display: block;
  padding: 16px 22px;
  width: 375px;
  font-weight: 400;
  font-size: 13px;
  border: 2px solid transparent;
  line-height: 21px;
  outline: none;
  color: #949494;
}
.contact__form input:focus {
  border: 2px solid #ffbd54;
}

.contact__form input:not(:last-child) {
  margin-bottom: 14px;
}

.contact__form textarea {
  padding: 16px 22px;
  width: 375px;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  font-family: "Futura PT";
  color: #949494;
  resize: none;
  outline: none;
}
.contact__form textarea:focus {
  border: 2px solid #ffbd54;
}

.contact__form button {
  display: block;
  margin-top: 30px;
  padding: 15px 40px;
  max-width: 226px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border: none;
  cursor: pointer;
  outline: none;
  background: #ffbd54;
  color: #ffffff;
}
.contact__form button:hover {
  background: #333333;
  color: #ffbd54;
}
.contact__form button:active {
  opacity: 0.6;
}

.footer {
  margin-top: 250px;
  background: #f3f3f3;
  border: 1px solid #ebebeb;
}

.footer__inner {
  padding: 61px 0 61px 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  margin: 0;
  padding: 0;
}

.footer__item {
  list-style: none;
}

.footer__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #333333;
}
.footer__link:hover {
  color: #ffbd54;
}
.footer__link:active {
  color: rgba(51, 51, 51, 0.7);
}

.footer__times {
  position: relative;
}

.footer__date {
  display: flex;
}

.footer__date:first-child::before {
  content: "";
  margin-right: 10px;
  position: absolute;
  left: -20px;
  top: 0;
  width: 15px;
  height: 15px;
  background-image: url(".././images/header-top-week-icon.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
}

.footer__date span {
  margin-right: 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.footer__address {
  position: relative;
}

.footer__location {
  display: flex;
  width: 157px;
}

.footer__location::before {
  content: "";
  margin-right: 10px;
  position: absolute;
  left: -20px;
  top: 0;
  width: 15px;
  height: 15px;
  background-image: url(".././images/header-top-home-icon.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
}

.footer__location address {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #333333;
}

.footer__tels {
  display: block;
  position: relative;
}

.footer-tel__boxes:first-child::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -20px;
  top: 0;
  width: 16px;
  height: 16px;
  background-image: url("../../images/header-top-phone-icon.svg");
  background-repeat: no-repeat;
}

.footer-tel__boxes a {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
}
.footer-tel__boxes a:hover {
  color: #ffbd54;
}
.footer-tel__boxes a:active {
  opacity: 0.6;
}

.footer small {
  display: block;
  margin-top: 28px;
  text-align: right;
}/*# sourceMappingURL=main.css.map */